{% extends '::base.html.twig' %}

{% block body %}
    <h2>{{ arma.name}}</h2>
    <ul>
        <li>Description: {{arma.description}}</li>
        <li>Birthday: {{arma.birthday.format("d-m-Y")}}</li>
        <li>Age: {{arma.age}} y</li>
    </ul>
    <a href="{{ path('entity-update', {"id":arma.id})}}">update</a>
{% endblock %}