{% extends '::base.html.twig' %}

{% block body %}
    {% for value in array %}
        {% if value == 'blog' %}
            <a href="{{ path(value, {"year":2121, "title": "example", "_locale": "fr"})}}">{{value}}</a>
        {% elseif value == 'entity-solo' %}
            <a href="{{ path(value, {"name":"Rammus"})}}">{{value}}</a>
        {% else %}
            <a href="{{ path(value)}}">{{value}}</a>
        {% endif %}
    {% endfor %}
{% endblock %}